* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
}

body {
    background-color: darkgray;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    min-height: 100vh;
    padding-top: 2rem;
}

.card {
    min-height: 500px;
}

.details {
    display: none;
    top: 200px;
    text-align: center;
    color: white;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

.card:hover .details {
    display: inline-block;
}